<p style="float:left; margin-top: 50px; width: 100%;">Thanks.  You've been logged out</p>

<iframe style="width: 0px; height: 0px; visibility:hidden" src="<%= ENV["THOUGHTSTEM_SITE"] + "/users/logout" %>"></iframe>

