


<button id="push_me">Push me</button>

<script>

    $(document).ready(function(){
      $("#push_me").click(function(){
        $.ajax(
           {   
               url: "/logs", 
               type: "POST",
               data: {message: "Button was pushed"}, 
               success:function(){
                  console.log("Success");
               }
           }
        );
      });
    });

</script>

<p>
<button onclick="Game.puzzle1()">Puzzle 1</button>
<button onclick="Game.puzzle2()">Puzzle 2</button>
<button onclick="Game.puzzle3()">Puzzle 3</button>
<button onclick="Game.create_assumption_piece()">Assumption</button>
<button onclick="Game.create_and_intro_piece()">AndIntro</button>
<button onclick="Game.create_and_elim_piece_1()">AndElim1</button>
<button onclick="Game.create_and_elim_piece_2()">AndElim2</button>
<button onclick="Game.create_imp_intro_piece()">ImpIntro</button>
<button onclick="Game.create_imp_elim_piece()">ImpElim</button>
<button onclick="Game.add_context_left()">Add Context Left</button>
<button onclick="Game.add_context_right()">Add Context Right</button>
</p>
