
<style>
    img{
       width: 500px;
    }

    body{

       font-size: 40px;
    }

    input{
       width: 3em;
       height: 3em;
    }

    a{
       font-size: 50px;
    }
</style>

<img src="assets/Raven1.gif"></img>

<br/>
Choose the shape above that fits best:<br/>
<input type="radio" name="group0" value=""> 1<br/>
<input type="radio" name="group0" value=""> 2<br/>
<input type="radio" name="group0" value=""> 3 <br/>
<input type="radio" name="group0" value=""> 4 <br/>
<input type="radio" name="group0" value=""> 5 <br/>
<input type="radio" name="group0" value=""> 6 <br/>

<br/>


<img src="assets/Raven2.gif"></img>
<br/>
Choose the shape above that fits best:<br/>
<input type="radio" name="group1" value=""> 1<br/>
<input type="radio" name="group1" value=""> 2<br/>
<input type="radio" name="group1" value=""> 3 <br/>
<input type="radio" name="group1" value=""> 4 <br/>
<input type="radio" name="group1" value=""> 5 <br/>
<input type="radio" name="group1" value=""> 6 <br/>


<img src="assets/Raven3.gif"></img>
<br/>
Choose the shape above that fits best:<br/>
<input type="radio" name="group2" value=""> 1<br/>
<input type="radio" name="group2" value=""> 2<br/>
<input type="radio" name="group2" value=""> 3 <br/>
<input type="radio" name="group2" value=""> 4 <br/>
<input type="radio" name="group2" value=""> 5 <br/>
<input type="radio" name="group2" value=""> 6 <br/>


<img src="assets/Raven4.gif"></img>
<br/>
Choose the shape above that fits best:<br/>
<input type="radio" name="group3" value=""> 1<br/>
<input type="radio" name="group3" value=""> 2<br/>
<input type="radio" name="group3" value=""> 3 <br/>
<input type="radio" name="group3" value=""> 4 <br/>
<input type="radio" name="group3" value=""> 5 <br/>
<input type="radio" name="group3" value=""> 6 <br/>

<br/>
<div style="text-align: center">
    <a href="/?template=quiz2">Click to continue</a>
</div>

<br/>
<br/>
<br/>
<br/>
